parameters:
    ignoreErrors:
        -
            message: '/mock\(\) has no return type specified\./'
        -
            message: "/Offset 'file' might not exist on array/"
            path: '%currentWorkingDirectory%/src/MockObjectBuilder.php'
        -
            message: "/Offset 'line' might not exist on array/"
            path: '%currentWorkingDirectory%/src/MockObjectBuilder.php'
